.horizontal-ul {
    list-style-type: none;
    margin-right: 20px;
    margin-top:0px;
    margin-bottom:10px;
    padding-top: 10px;
    padding-bottom:5px;
    padding-right:1000px;
    padding-left:200px;
    overflow: hidden;
    background-color:aquamarine;
    float: right;
    font-size:larger;
    width: 466px;
}

.horizontal-li {
    float: left;
}

.horizontal-active, .horizontal {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    .horizontal:hover {
        background-color: #111;
    }
