.horizontal-ul {
    list-style-type: none;
    margin-right:10px;
    margin-top:0px;
    margin-bottom:10px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-right:500px;
    padding-left:500px;
    overflow: hidden;
    background-color: #F9C70C;
    float: right;
    font-size:larger;
    width: 466px;
    height: 56px;
}

.horizontal-li {
    float: left;
}

.horizontal-active, .horizontal {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    .horizontal:hover {
        background-color: #111;
    }
